/*
  Color Pallette AC
  Light Yellow/background: #F8FFE5
  Dusty Grape: #4E4187
  Brilliant Azure: #3083DC
  Light Green: #7DDE92
  Ocean Mist: #2EBFA5
*/

body {
  background-color: #F8FFE5; /* Makes the background of the pages a light yellow AC*/
}

h1 {
  color: #4E4187; /* Makes h1 have Dusty Grape color AC*/
  text-align: center; /* Centers h1*/
}

p {
  line-height: 1.6; /* Makes line spacing bigger so it's easier to read AC*/
}

.Antonio-head {
  color: #3083DC; /* Makes headers with this class the Brilliant Azure color AC*/
}

.Amelia-head {
  color: #2EBFA5; /* Makes headers with this class the Ocean Mist color AC*/
}

.site-nav {
  padding: 15px; /* Adds space inside the navigation bar so it gives the links room AC*/
}

.site-nav ul {
  display: flex; /* Makes links horizontal AC*/
  gap: 30px; /* Puts a gap between the links AC*/
  list-style: none; /* Gets rid of the bullets AC*/
  justify-content: center; /* Center aligns the links AC*/
}

main {
  padding: 15px; /* Adds some space inside the element AC*/
}

.index {
  text-align: center;
}
